<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test suite 1">
    <!--
    <listeners>
        <listener class-name="utilities.ListenerManager" />
    </listeners>
    -->
    <test verbose="3" name="test 1">
        <classes>

            <!-- comments here
            <class name="tests.TestDesktop"/>
-->

            <!-- comments here-->
            <class name="tests.TestSignIn"/>


        </classes>
    </test>

</suite>